html {
    height: 100%;
}

body {
    height: calc(100% - 1.5em);
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 16px;
}

ul li {
    padding: 0;
}
