body {
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-header {
    background-color: #000;
    color: #fff;
    padding: 16px;
}

.main-header a {
    color: #fff;
    text-decoration: none;
}

.main-breadcrumb {
    margin: 16px;
}

.main-breadcrumb ul {
    display: flex;
    align-items: center;
}

.main-breadcrumb li {
    display: inline;
}

.main-breadcrumb li::before {
    content: '>';
    padding: 4px;
}

li.main-breadcrumb-home::before {
    content: none;
}

.main-breadcrumb-home a {
    text-decoration: none;
}

.main-content {
    min-height: calc(100% - 250px);
    margin: 16px;
}

.docs-sections {
    display: inline-block;
}

.docs-section {
}

.docs-section-table {
    table-layout: fixed;
    border-spacing: 0;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px 0 0 0;
    width: 100%;
}

.docs-section-table thead {
    display: none;
    font-weight: bold;
}

.docs-section-toplink {
    margin: 16px;
    display: inline-flex;
}

.docs-section-table td {
    overflow: auto;
    word-wrap: break-word;
    border-color: lightgray;
    border-style: solid;
    border-width: 0 0 1px 0;
    padding: 12px 16px;
}

.docs-rightnav {
    display: inline-block;
    position: fixed;
    width: 80px;
    margin: 0 20px;
}

.docs-rightnav-title {
    text-transform: uppercase;
    font-size: 14px;
}

.docs-rightnav-link {
    text-decoration: none;
    color: cornflowerblue;
    font-size: 0.9em;
}

.docs-rightnav-link:hover {
    text-decoration: underline;
}

.main-footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 16px;
}

.main-contentarea {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 480px) {
    .main-contentarea {
        width: 480px;
    }

    .docs-sections {
        width: 360px;
    }
}

@media (min-width: 640px) {
    .main-contentarea {
        width: 640px;
    }

    .docs-sections {
        width: 520px;
    }
}

@media (min-width: 800px) {
    .main-contentarea {
        width: 800px;
    }

    .docs-sections {
        width: 680px;
    }
}

@media (min-width: 960px) {
    .main-contentarea {
        width: 960px;
    }

    .docs-sections {
        width: 840px;
    }
}

@media (max-width: 480px) {
    .docs-section-table td {
        display: block;
    }
}
